
#mapContainer {
    width: 30vw;
    height: 300px;
    padding: 20px;
    display: inline-block;
}

#panel {
    display: inline-block;
    width: 25vw;
    height: 300px;
    overflow: auto;
    margin: 0px 20px;
}

