.inputSection {
    display: inline-block;
    width: 40vw;
    height: 50vh;
    overflow: auto;
}

.form {
    padding: 20px;
    display: inline-block;
    width: 30vw;
    vertical-align: top;
}

.form .bpzdHV {
    display: inline-block;
    width: 150px !important;
}

.form > * {
    margin: 10px 0px;
}

.form button {
    background-color: rgb(200, 255, 200);
    height: 40px;
    width: 80px;
    margin-bottom: 20px;
}

.chartOuterContainer {
    /* display: flex;
    justify-content: center; */
}

.canvasjs-chart-canvas {
    /* width: 60vw !important; */
}

#canvasjs-react-chart-container-0 {
    display: inline-block;
    width: inherit !important;
}

.title {
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 30px;
}

.recommendations {
    padding: 0px 20px;
    color: rgb(58, 0, 0);
}

.formtwo {
    padding: 0px 20px;
}

.formtwo > * {
    margin: 5px 0px;
}

.formtwo button {
    height: 30px;
    width: 100px;
    background-color: rgb(199, 228, 255); 
}